body {
    font-family: 'Open Sans', sans-serif;
    background-color: #674BAF;
    color: #FFFFFF;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    text-align: center;
  }
  
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 2.250em;
  }
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
    width: 100vw;
  }
  
#logo {
    width: 120px;
    align-self: flex-start;
  }
  
#mockups {
    height: 209px;
  }
  
.info {
    line-height: 24px;
    font-size: 16px;
    margin-bottom: 24px;
  }
  
.btn {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #684BB1;
    width: 200px;
    height: 40px;
    box-shadow: 0 2px 4px #311D7B;
  }
  
#bootstrap-override:active, #bootstrap-override:hover, #bootstrap-override:focus {
    background-color: #E880E8;
    color: #fff;
    border: none;
    outline: none;
  }
  
.social-media {
    height: 28px;
    width: 103.5px;
    display: flex;
    justify-content: space-between;
  }
  
.fab {
    border-radius: 50%;
    border: 1px solid white;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.fab:active, .fab:hover {
    border-color: #FF52C1;
    color: #FF52C1;
  }

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: #fff; 
    text-decoration: underline;
}

@media screen and (min-width: 480px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-size: auto 100vh;
    text-align: left;
  }
  h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .container {
    display: grid;
    grid-template-columns: 696px 520px;
    grid-template-rows: 1fr 32px 215px 246px 1fr 13px;
    grid-column-gap: 59px;
    height: 100vh;
    width: 100vw;
  }
  #logo {
    width: 200px;
    grid-area: 1/2/2/1;
    padding-top: 64px;
  }
  #mockups {
    height: 493px;
    grid-area: 2/2/5/1;
  }
  .h-info-b {
    grid-area: 3/3/5/2;
    align-self: start;
  }
  .info {
    line-height: 27px;
    font-size: 1.125em;
  }
  .btn {
    font-size: 18px;
  }
  .social-media {
    grid-area: 5/3/6/2;
    height: 28px;
    width: 103.5px;
    justify-self: end;
    display: flex;
    justify-content: space-between;
  }
  .attribution { 
    grid-area: 6/3/7/1;
    text-align: center; 
}
}